/*font-family: 'Bree Serif', serif;*/
/*font-family: 'Ubuntu', sans-serif;*/
/*font-family: 'Bebas Neue', arial;*/

@font-face {
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    src: local('Bebas Neue'), local('BebasNeue-Regular'),
        url(http://allfont.ru/cache/fonts/bebas-neue_4aa1c24c15344cca77f8ad1e69c82275.woff) format('woff'),
        url(http://allfont.ru/cache/fonts/bebas-neue_4aa1c24c15344cca77f8ad1e69c82275.ttf) format('truetype');
}

#container{
	width: 1280px;
	height: 2305px;
	margin: 0 auto;
	/*border: 1px solid black;*/
	background-color: #f4f4f4;
}

#header{
	height: 370px;
	width: 1280px;
	/*border: 1px solid black;*/
}

.circle{
	position: absolute;
	margin-top: 33px;
	margin-left: 186px;
	width: 20px;
	height: 20px;
	background-color: #f98561;
	border-radius: 50%;
}

.square{
	position: absolute;
	margin-top: 33px;
	margin-left: 209px;
	width: 18px;
	height: 18px;
	background-color: #23afc8;
}

#header p.logo{
	position: absolute;
	font: 20px 'Bree Serif';
	color: #606060; 
	margin-top: 27px;
	margin-left: 235px;
}

#head-menu{
	position: absolute;
	margin-top: 30px;
	margin-left: 488px;
	width: 500px;
}

#head-menu li{
	float: left;
	margin-left: 5px;
	margin-right: 5px;
}

#head-menu a{
	padding: 32px 20px;
	font: 14px 'Ubuntu';
	color: #515862;
	text-decoration: none;
}

#head-menu a:hover{
	text-decoration: underline;
}

#head-menu li:last-child > a{
	padding: 5px 20px;
	font: bold 15px 'Ubuntu';
	color: #fff;
	text-decoration: none;
	background-color: #f98561;
	border-radius: 3px;
}

#head-menu li.active > a{
	background-color: #12a3d6;
	font: bold 14px 'Ubuntu';
	color: #c5f4ff;
	padding-bottom: 22px;
	border-bottom: 11px solid #0080b7;
}

#head-menu li.active > a::after{
	content: ''; 
	position: absolute;
	left: 37px;
	bottom: -22px;
	border: 7px solid transparent;
	border-bottom: 7px solid #0080b7;
}

#block-search{
	position: absolute;
	width: 100px;
	height: 40px;
	margin-top: 19px;
	margin-left: 1038px;
}

#block-search p{
	float: left;
	font: 12px 'Ubuntu';
	color: #515862;	
}

.circle-search{
	margin-left: 42px;
	margin-top: 1px;
	width: 35px;
	height: 35px;
	background-color: #f98561;
	border-radius: 50%;
}

#block-search img{
	position: absolute;
	margin-left: 13px;
	margin-top: -27px;
}

#header > img{
	margin-top: 80px;
}

#header p.slider-text{
	position: absolute;
	margin-top: 189px;
	margin-left: 512px;
	font: 80px 'BebasNeueRegular';
	color: #cccece;
}

/*------------/HEADER----------------*/

#main{
	height: 1569px;
	width: 1280px;
	/*border: 1px solid black;*/
}

#block-welcome{
	height: 374px;
	width: 1280px;
	/*border: 1px solid black;*/
	border-bottom: 1px solid #e6e6e6;
}

#block-welcome h2{
	text-align: center;
	margin-top: 30px;
	font: 50px 'BebasNeueRegular';
	color: #2190c1;
	margin-bottom: 0;
}

#block-welcome p{
	width: 931px;
	text-align: center;
	margin-top: 8px;
	margin-left: 169px;
	line-height: 20px !important;
	font: 13px 'Ubuntu';
	color: #515862;
}

#block-welcome h1{
	margin-top: 24px;
	text-align: center;
	font: 60px 'BebasNeueRegular';
	color: #515862;
	margin-bottom: 0;
}

#block-app{
	height: 310px;
	width: 1280px;
	/*border: 1px solid black;*/
	border-top: 1px solid #dcdcdc;
	border-bottom: 1px solid #dadada;
}

#block-app > #block-box{
	margin-left: 181px;
	margin-top: 0;
}

.box4{
	height: 310px;
	width: 229px;
	float: left;
	border-left: 1px solid #d7d7d7;
}

.box4:last-child{
	border-right: 1px solid #d7d7d7;
}

#block-app .box-img{
	position: relative;
	margin: 29px auto 0px auto;
	width: 170px;
	height: 102px;
}

#block-app .box4 img{
	margin: auto;
	overflow: auto;
	position: absolute;
	top: 0; 
	left: 0; 
	bottom: 0; 
	right: 0;
}

#block-app .box4 h5{
	text-align: center;
	font: 20px 'Bree Serif';
	color: #2190c1;
	margin-top: 5px;
	margin-bottom: 10px;
}

#block-app .box4 p{
	text-align: center;
	font: 13px 'Ubuntu';
	color: #515862;
	padding-left: 10px;
	padding-right: 10px;
	line-height: 18px;
}

#block-team{
	position: relative;
	height: 880px;
	width: 1280px;
	border-top: 4px solid #a5a5a5;
}

#block-team h2{
	text-align: center;
	margin-top: 40px;
	font: 50px 'BebasNeueRegular';
	color: #2190c1;
	margin-bottom: 0;
}

#block-team > #block-box-shadow{
	width: 1000px;
	height: 700px;
	margin-top: 25px;
	margin-left: 132px;
	z-index: 5;
}

#block-team .box-shadow{
	width: 380px;
	height: 290px;
	border: 1px solid #ccc;
	background-color: #d3d3d3;
	float: left;
	margin-left: 88px;
	margin-bottom: 53px;
}

#block-team #block-box{
	position: absolute;
	width: 1000px;
	height: 700px;
	margin-top: -690px;
	margin-left: 132px;
	z-index: 10;
}

#block-team .box4{
	position: relative;
	width: 380px;
	height: 289px;
	border: 1px solid #ccc;
	background-color: #fff;
	margin-left: 98px;
	margin-right: -30px;
	margin-bottom: 54px;
	float: left;
	z-index: 10;
}

#block-team .box-img{
	float: left;
	position: relative;
	margin: 12px;
	width: 129px;
	height: 130px;
	background-color: #b5b5b5;
}

#block-team .box4 img{
	margin: auto;
	position: absolute;
	bottom: 0; 
	left: 0;
	right: 0;
}

#block-team .box4 h5{
	margin-top: 17px;
	text-align: center;
	font: 17px 'Bree Serif';
	color: #666;
} 

#block-team .box4 h3{
	margin-top: -28px;
	text-align: center;
	font: 20px 'BebasNeueRegular';
	color: #2190c1;
} 

#block-team .box4 span{
	display: block;
	margin-top: -39px;
	text-align: center;
	font: bold 13px 'Ubuntu';
	color: #94979b;
}

#block-team .block-icon{
	margin-left: 205px;
	margin-top: 17px;
	width: 135px;
	height: 50px;
}

#block-team .icon1{
	float: left;
	margin-right: 10px;
	width: 23px;
	height: 23px;
	border-radius: 3px;
	background-color: #00a1e4;
}

#block-team .icon2{
	margin-right: 10px;
	float: left;
	width: 23px;
	height: 23px;
	border-radius: 3px;
	background-color: #29aecb;
}

#block-team .icon3{
	margin-right: 10px;
	float: left;
	width: 23px;
	height: 23px;
	border-radius: 3px;
	background-color: #0481d9;
}

#block-team .icon4{
	float: left;
	margin-right: 10px;
	width: 23px;
	height: 23px;
	border-radius: 3px;
	background-color: #f7941d;
}

#block-team .box4 p{
	clear: both;
	margin-top: 10px;
	margin-left: 13px;
	line-height: 19px !important;
	text-align: left;
	font: 12px 'Ubuntu';
	color: #515862;
}

/*------------/MAIN---------------------*/

#footer{
	position: relative;
	height: 335px;
	width: 1280px;
	/*border: 1px solid black;*/
	background-color: #2e3e4f;
}

#footer #info{
	position: absolute;
	margin-top: 40px;
	margin-left: 180px;
	width: 1050px;
	height: 270px;
}

#footer .box4{
	float: left;
	height: 270px;
	width: 250px;
	border: none;
	margin-right: 10px;
}

#footer h4{
	margin-top: 0;
	font: 20px 'BebasNeueRegular';
	color: #f98561;
	margin-bottom: 12px;
}

#footer p{
	margin-top: 0;
	font: 12px 'Ubuntu';
	color: #a3afb2;
	line-height: 20px;
	margin-bottom: 0;
}

#footer a{
	text-decoration: none;
	margin-top: 0;
	font: 12px 'Ubuntu';
	color: #2190c1;
}

#footer a:hover{
	text-decoration: underline;
}

.line{
	width: 215px;
	border-bottom: 1px solid #556270;
	margin-top: 15px;
	margin-bottom: 15px;
}

.line2{
	width: 240px;
	border-bottom: 1px solid #556270;
	margin-top: 12px;
	margin-bottom: 15px;
}

.line3{
	clear: both;
	width: 210px;
	border-bottom: 1px solid #556270;
	margin-top: 15px;
	margin-bottom: 15px;
}

#footer h5{
	margin-top: 0;
	font: 13px 'Ubuntu';
	color: #2190c1;
	margin-bottom: 12px;
}

#footer input#email{
	width: 225px;
	height: 25px;
	border-radius: 3px;
	background-color: #fff;
	border: none;
	margin-bottom: 15px;
	padding-left: 10px;
}

#footer input#btn{
	margin-left: 160px;
	display: block;
	width: 76px;
	height: 28px;
	border-radius: 3px;
	background-color: #2190c1;
	border: none;
	font: 13px 'Ubuntu';
	color: #fff;
	cursor: pointer;
}

#footer img{
	float: left;
	margin-right: 10px;
}

#footer .box3{
	display: block;
	width: 160px;
	height: 40px;
	margin-bottom: 15px;
}

#footer .box3 p{
	margin: 0;
	line-height: 15px;
}
